FORMAT: 1A
HOST: https://demo.mystock.cz/

# mySTOCK


## mySTOCK API description

API supports communication in JSON format. The URL for calling API requests is specific for each customer. The API uses username and password authorization and authentication (HTTP Header Basic Authentication). 
Result of each call always contains two sections - <b>data</b> and <b>errors</b>.

When processing the response, the client shall first detect what response status code was received. If mySTOCK API responds to your request with a 200 code, it is not necessary to explore the errors part of the response. 
The unknown record is returned with a 404 code etc. These responses have the errors field filled in, where you can find detailed info about the error.

The data sent from mySTOCK API are first transferred to the interface database, from where they are subsequently transferred to the WMS database. 
The validity of transferred data in the interface database is limited, after a certain amount of time the data from this database may be deleted.


## Error format

+ errorText: `Logical key is not unique` (string) - Error text
+ errorType: `5` (number) - Error type (see below)
+ internalRecordId: `BF961B2D-3019-4872-95C4-F44E9F5A108C` (string) - If there is an attempt to create a record that already exists in the database, mySTOCK API fills in the element "internalRecordId" with the ID that was generated when the original record was created.
+ propertyName: `items.measurementUnitCode` (string) - Optional name of invalid property
+ recordId: `1` (string) - If header is faulted then 0, else order of faulted item.
+ recordType: `partner` (string) - Type of faulted record
+ sourceId: `KV0012` (string) - If there is an attempt to create a record that already exists in the database, mySTOCK API fills in the element "sourceId" with the logical key from the ERP that was used to create the original record (either unique code of the record or value from the element "extIsId").
+ extensionData.path: `orderIncoming/relations/OrderInHeader/OrderInPackagingTypeGroup` (string) - Path to the relational table.
+ extensionData.relationId: `DB2B98FC-0593-4676-9965-C91725E21D2E` (string) - If an attempt is made to create a record in the relational table that already exists in the database, mySTOCK API will fill in the element extensionData.relationId with the ID that was generated during the creation of the original record.
+ extensionData.relationSourceId: `0702240900` (string) - If there is an attempt to create a record in the relational table that already exists in the database, mySTOCK API will fill in the element extensionData.relationSourceId with the logical key from the ERP that was used to create the original record (either the unique code of the record or the value from the extIsId element).

### Error types

+ 1 - Value is NULL
+ 2 - Value is not specified
+ 3 - Invalid value - e.g. id of nonexisting record
+ 4 - Other specific error
+ 5 - Value is not unique
+ 6 - Update of record is forbidden
+ 7 - Value overflow e.g. string is too long
+ 100 - Internal server error. Unique record id is set in recordId
+ 101 - API limit exceeded
+ 102 - Concurrent request wait timeout

## Get data result [GET]

Each get data GET request returns required data in <b>data/result</b> section.

Response HTTP Status is 200 when succeeded.

## Insert result [POST]

Each insert POST request returns list of generated id in <b>data/ids</b> section:

+ id: `2949C3DE-F4AC-4FF7-8AF8-48EBED3EA7A6` - Unique identifier of the record, the ID is always generated by the WMS and is sent back to the ERP. The ID is later used in additional web services (e.g. an ID of the product is required in the order incoming web service) or in the events exported by the WMS.
+ recordId: `0` - Record order if more than one record is inserted 
+ type: `product` - Record type

Response HTTP Status is 201 when succeeded.

## Update result [PUT]

Each update PUT request returns only confirmation text in <b>data</b> section when succesfull or list of errors in <b>errors</b> section when failed.

Only records that are active in WMS can be updated.

Response HTTP Status is 200 when succeeded. 

## Delete result [DELETE]

Each delete DELETE request returns only confirmation text in <b>data</b> section when succesfull or list of errors in <b>errors</b> section when failed.

Response HTTP Status is 200 when succeeded.

## Exporting events (webhook) [POST]

When some defined action occurs in the WMS, mySTOCK generates an event that can be sent to your service. Your service must meet the following conditions:
+ Use HTTPS with Basic authentication.
+ Receive POST request on URI /V1/event - the events exported from the WMS are sent to the URL address you provide which must end with the suffix „/V1/event“ (e.g. "https://demo.mystock.cz/V1/event").
+ The HTTP status of your server’s response to the request must be `200` - this response must contain id of the record created by the ERP in <b>data</b> section, <b>errors</b> section must be blank. Other HTTP statuses are considered as fault.
+ If some error occurs when receiving an event request, return response `400` with error message in <b>errors</b> section and no id in <b>data</b> section.
+ The WMS needs to receive a response for all the sent events – response 200 confirms successful receipt of the event sent from the WMS to the ERP. If the WMS does not receive any response from the ERP or the response is 400, the event is treated as not yet processed and the WMS will try to retransmit the event.
+ In the case of response 400, ERP has the option to send a message with "errorType" 8, which informs WMS that it should not try to send the event again.

Each event request contains unique eventId. When some problem occurs when sending an event to your service, the same event can be sent later with the same eventId - please check eventId in your service to avoid possible repetitive processing of the same event.

### Event types

Each type of event can contain specific subset of elements (see reference of single event types examples for details).
List of all currently supported event types:
+ 1 - Request to print from the ERP system
+ 2 - Request to print shipping label from the ERP system
+ 3 - Change of location or warehouse of the ERP system (caused by the change of location in the WMS)
+ 5 - Dispensing in the WMS
+ 6 - Receipt of product in the WMS
+ 7 - Completion of document processing in the WMS
+ 8 - Ready for loading
+ 11 - Change of the product's dimensions
+ 12 - Dispatch of a shipment from the warehouse
+ 14 - Product putaway
+ 15 - Completion of stocking up in WMS
+ 16 - Start of shipment generation
+ 17 - Start of picking of the shipment
+ 19 - Received/issued serial numbers
+ 20 - Document cancellation
+ 21 - Change of the delivery method
+ 22 - Export of atest date
+ 24 - Received carrier
+ 25 - Export of results from inventory check
+ 26 - Export of logistics units
+ 27 - Request to create a record in the ERP system
+ 28 - Incompletely picked document
+ 29 - Shipment status in carrier’s system
+ 30 - Dispensing of the product in the WMS (including logistics units)
+ 32 - Receipt of the manufactured product in the WMS
+ 33 - Export of inventory items price request
+ 34 - Insufficient quantity for allocation

## Changelog
List of recent changes made to mySTOCK API:
+ Chapter "Order incoming processing" was added. <i>(2026-02-23)</i>
+ [Exporting mySTOCK events] For event 7 subtype 11 and 12 were added. <i>(2026-02-09)</i>
+ [Product, Receipt] Element "productPackageChange" was added. <i>(2025-12-18)</i>
+ [Exporting mySTOCK events] Event 34 was added. <i>(2025-12-05)</i>
+ [Exporting mySTOCK events] For event 7 subtype 6 was added. <i>(2025-10-22)</i>
+ [Receipt] Element "items.productLabelPrint" was added. <i>(2025-10-22)</i>
+ [Inventory Check] Element "commissionStockRestriction" was added. <i>(2025-10-21)</i>
+ [Exporting mySTOCK events] Event 2 was added. <i>(2025-10-20)</i>
+ [Order incoming] Element "deliveryDate" was added. <i>(2025-10-10)</i>
+ [Order incoming] Element "primarySystemOrderId" was added. <i>(2025-09-04)</i>
+ [Stock card] Elements "countryOfOrigin" and "countryOfOriginId" were added. <i>(2025-09-04)</i>
+ Chapter "Product handling equipment" was added. <i>(2025-09-02)</i>
+ [Product] Elements for handling equipments were added. <i>(2025-09-02)</i>
+ [Order incoming] Element "productAssemblyRequired" was added. <i>(2025-08-07)</i>
+ [Product] Elements "expirationPeriodSupplier", "expirationPeriodInMonth" and "productLabelPrintReceipt" were added. <i>(2025-07-31)</i>
+ [Product] Element "expirationPeriod" was added for update. <i>(2025-07-30)</i>
+ [Exporting mySTOCK events] Event 14 was added. <i>(2025-07-22)</i>
+ [Exporting mySTOCK events] Element "commissionTo" was added for event 3. <i>(2025-07-21)</i>
+ [Order incoming] Element "recipientReference" was added. <i>(2025-07-18)</i>
+ Chapter "Inventory items price" was added. <i>(2025-05-23)</i>
+ Chapter "Inventory price request" was added. <i>(2025-05-23)</i>
+ [Exporting mySTOCK events] Event 28 was renamed. <i>(2025-05-20)</i>
+ [Exporting mySTOCK events] Event 33 was added. <i>(2025-05-20)</i>
+ [Partner] Element "outboundCheck" was added. <i>(2025-04-25)</i>
+ [Product] Elements "salesCategoryId" and "salesCategoryValidityDate" were added. <i>(2025-04-14)</i>
+ [Product Group] Element "carrierProductName" was added. <i>(2025-03-20)</i>
+ [Inventory Check] Element "fullWarehouseInventory" was added. <i>(2025-03-18)</i>
+ [Product, Receipt, Order incoming] Elements for texts were added. <i>(2025-03-18)</i>
+ [Order incoming] Element "items.packagingLevelDefinitionId" was added. <i>(2025-03-10)</i>
+ [Receipt] Element "items.quantityToInspect" was added. <i>(2025-03-07)</i>
+ [Receipt, Issue] Element "items.qualityId" was added. <i>(2025-03-07)</i>
+ [Assembly] Elements "items.minExpirationPeriod" and "items.maxExpirationPeriod" were added. <i>(2024-12-11)</i>
+ [Order incoming] Element "items.maxExpirationPeriod" was added. <i>(2024-12-11)</i>
+ [Product] Element "nameShort" information about WMS setting was added. <i>(2024-12-10)</i>
+ [Exporting mySTOCK events] Elements "weightRecorded" and "status" were added. <i>(2024-12-06)</i>
+ [Product] Element "palletQuantity" was added. <i>(2024-11-01)</i>
+ [Order incoming] Element "productLabelPrint" was added. <i>(2024-10-02)</i>
+ [Exporting mySTOCK events] Event 8 was added. <i>(2024-09-23)</i>
+ [Exporting mySTOCK events] For event 12 subtype 4 was added. <i>(2024-09-19)</i>
+ [Exporting mySTOCK events] Event 30 and element "quantityOfItem" were added. <i>(2024-09-19)</i>
+ [Update result] Information about active records in update result was added. <i>(2024-09-19)</i>
+ [Order incoming] Condition for delete order incoming was changed. <i>(2024-08-27)</i>
+ [Order incoming] Element "packagingLevelDefinitionId" and "items.priority" were added. <i>(2024-08-19)</i>
+ [Assembly] Element "parameters.commission" was added. <i>(2024-07-24)</i>
+ [Order incoming] Element "items.minExpirationPeriod" was added. <i>(2024-07-18)</i>
+ [Exporting mySTOCK events] Elements "documentId", "documentType" and "itemId", "itemType" were added for event 3. <i>(2024-07-17)</i>
+ [Inventory transfer request] Elements "commission", "commissionTo" and "batch" were added. <i>(2024-07-16)</i>
+ Element "batchExt" were added for services Receipt, Order incoming, Issue, Stock card, Product stock card, Inventory transfer request, Inventory check results, Issue to production, Assembly and events 3,5,6. <i>(2024-07-10)</i>
+ [Product] Element "expirationPeriod" was added. <i>(2024-07-09)</i>
+ Chapter "Result of the initial inspection" was added. <i>(2024-07-09)</i>
+ [Exporting mySTOCK events] Event 32 and element "locationCode" were added. <i>(2024-06-11)</i>
+ [Order incoming] Element "externalCarrierCode" was added. <i>(2024-04-16)</i>
+ [Shipping label] Element "shippingLabelSyntaxType" was added for update. <i>(2024-03-11)</i>
+ [Product] Product type 30 ("Fee") was renamed to "Other without stock". Element "subtype" was added. <i>(2024-03-08)</i>
+ [Receipt] Part "Update a Receipt" - new supported elements were added. <i>(2024-03-06)</i>
+ [Order incoming] Element "suspendedLoading" and "deliveryInstructions" were added. <i>(2024-03-04)</i>
+ [Assembly] Element "parameters.productionOrderId" was deleted. <i>(2024-03-04)</i>
+ [Order incoming] Elements "processingMethodId", "deliveryMethodId" and "paymentMethodId" were added. <i>(2024-02-23)</i>
+ [Shipping label] Element "deliveryMethodId" was added. <i>(2024-02-23)</i>
+ [Exporting mySTOCK events] Element "deliveryMethodId" and event 21 were added. <i>(2024-02-23)</i>
+ [Product group] Part "Update a Product group" was added. <i>(2024-02-22)</i>
+ [Exporting mySTOCK events] Element "logisticLabelCode" was added. <i>(2024-02-21)</i>
+ [Order incoming] Element "dispatchIncomplete" - value 25 (Allowed automatically – without repeated picking in case of an issue) was added. <i>(2024-02-12)</i>
+ [Error format] Elements with extensionData were added. <i>(2024-02-09)</i>
+ [Issue to production] Element "items.variantId" was added. <i>(2024-02-09)</i>
+ [Exporting mySTOCK events] New subtypes for events 1,5,7,12,17,19,20 were added. <i>(2024-02-09)</i>
+ [Exporting mySTOCK events] Information about the processing of an event on the external information system side was added. <i>(2024-02-08)</i>
+ Chapter "Error types" - types 101 and 102 were added. <i>(2024-02-06)</i>
+ Chapter "Production contract" and "Production contract procedure" were added. <i>(2024-02-02)</i>
+ [Exporting mySTOCK events] Subtype 3 and 4 were added for event 26. <i>(2024-02-01)</i>
+ [Issue to production] Parameters and elements "priority", "productionContractId" were added. <i>(2024-01-31)</i>
+ [Exporting mySTOCK events] Element "logisticUnitStatus" was added. <i>(2024-01-31)</i>
+ Chapter "Assembly" was added. <i>(2024-01-23)</i>
+ [Exporting mySTOCK events] Element "externalStatusId" was added. <i>(2024-01-22)</i>
+ [Document] Part "Delete a Document" was added. <i>(2024-01-16)</i>
+ [Shipping label] Part "Update a Shipping label" and part "Delete a Shipping label" were added. <i>(2024-01-16)</i>
+ [Exporting mySTOCK events] Element "fullTrackingNumber" was added. <i>(2024-01-08)</i>
+ [Product] Elements "extensionData.entities.relations.properties.key" and "extensionData.entities.relations.properties.value" for product categories were changed from required to condition. <i>(2024-01-03)</i>
+ [Order incoming] Element "dispatchIncomplete" - added information about insert and update and deleted value 30 - Enabled after correction. <i>(2023-12-18)</i>
+ [Exporting mySTOCK events] Subtype 9 was added for event 7. <i>(2023-12-05)</i>
+ [Exporting mySTOCK events] Elements "loadingCode" and "loadingId" were added. <i>(2023-12-05)</i>
+ [Product] Elements "commodityCode" and "countryCode" were added. <i>(2023-11-23)</i>
+ [Document] Element "files.printoutControlCode" was added. <i>(2023-11-22)</i>
+ [Exporting mySTOCK events] Subtypes were added for event 3. <i>(2023-11-09)</i>
+ [Partner] Elements "packingListRequired", "deliveryNoteRequired" and "invoiceRequired" were added for update. <i>(2023-11-09)</i>
+ Chapter "About me" was added. <i>(2023-11-02)</i>
+ [Exporting mySTOCK events] Element "logisticUnitId" was added for event 26. <i>(2023-10-11)</i>
+ [Shipping label] Element "shippingLabelSyntaxType" was added. <i>(2023-10-11)</i>
+ [Partner, Order incoming] Elements "packingListRequired", "deliveryNoteRequired" and "invoiceRequired" were added. <i>(2023-10-04)</i>
+ [Exporting mySTOCK events] Subtypes 3 and 33 were added for event 28. <i>(2023-10-03)</i>
+ [Order incoming] Element for Groups of packaging for shipping with extension data was added. <i>(2023-09-22)</i>
+ [Product] Element "pictureData" was added. <i>(2023-09-15)</i>
+ Chapter "Document" was added. <i>(2023-09-13)</i>
+ [Item list] Add information about update. <i>(2023-09-01)</i>
+ [Order incoming] Element "dispatchIncomplete" - added values 10 "To be confirmed" and 30 "Allowed after confirmation". <i>(2023-08-15)</i>
+ [Issue to production] Element "note" was added. <i>(2023-08-15)</i>
+ [Exporting mySTOCK events] Event 17 was added. <i>(2023-08-11)</i>
+ [Product‘s unit of measurement] Elements "quantity", "basicQuantity" and "measurementUnitCode" were deleted for update. <i>(2023-07-28)</i>
+ [Order incoming] Element "dispatchIncomplete" - added values 31 "Allowed after correction according to event 28" and 50 "To cancel". <i>(2023-07-17)</i>
+ [Issue] Add information about internal issues for elements "items.productId", "items.batch" and "items.expirationDate". <i>(2023-07-17)</i>
+ [Receipt] Add information about internal receipts for elements "items.productId", "items.batch" and "items.expirationDate". <i>(2023-07-17)</i>
+ [Exporting mySTOCK events] Event 16 was added. <i>(2023-07-13)</i>
+ Chapter "Inventory transfer request" was added. <i>(2023-06-30)</i>
+ [Exporting mySTOCK events] Subtypes 7 and 8 were added for event 7. <i>(2023-06-06)</i>
+ [Exporting mySTOCK events] Elements "packageCode" and "packageType" were added. <i>(2023-06-06)</i>
+ [Exporting mySTOCK events] Event 24 was added. <i>(2023-06-06)</i>
+ [Product‘s unit of measurement] Part "Update a Product's unit of measurement" was added. <i>(2023-06-05)</i>
+ [Order incoming, Receipt, Issue to production] Element "items.extIsId" was added. <i>(2023-06-05)</i>
+ [Product barcode, Product, Product‘s unit of measurement, Shipping label] Element "extIsId" was added. <i>(2023-06-05)</i>
+ [Receipt] Element "despatchAdviceCode" was deleted. <i>(2023-05-12)</i>
+ [Product] Element "productLabelPrint" was added for update. <i>(2023-05-09)</i>
+ [Issue] Element "specification" was added. <i>(2023-05-09)</i>
+ [Receipt] Element "specification" was added. <i>(2023-05-09)</i>
+ [Receipt] Elements "despatchAdviceCode" and "despatchAdviceId" were added. <i>(2023-05-02)</i>
+ [Product] Element "description" was added. <i>(2023-05-02)</i>
+ [Receipt] Element "items.atestMandatory" was added. <i>(2023-04-24)</i>
+ [Exporting mySTOCK events] Element "note" was added. <i>(2023-03-29)</i>
+ [Exporting mySTOCK events] Event 29 was added. <i>(2023-03-29)</i>
+ [Product‘s unit of measurement] Element "handlingUnit" was added. <i>(2023-03-29)</i>
+ [Product] Element "primarySupplierId" was added. <i>(2023-03-29)</i>
+ [Exporting mySTOCK events] Element "documentWms" was added. <i>(2023-03-27)</i>
+ Chapters "Issue" and "Warehouse transfer" were added. <i>(2023-03-08)</i>
+ [Exporting mySTOCK events] Event 15 was added. <i>(2023-02-28)</i>
+ [Product] Element "productLabelPrint" was added. <i>(2023-02-28)</i>
+ [Exporting mySTOCK events] Element "serialNumber" and Event 19 were added. <i>(2023-02-27)</i>
+ [Product] Elements for "Product variants" was added. <i>(2023-02-24)</i>
+ [Item list] Item list - Lot variant was added. <i>(2023-02-24)</i>
+ [Receipt] Elements "items.correctedDocumentId" and "items.correctedItemId" were added. <i>(2023-02-16)</i>
+ [Inventory check] Element "sectionCode" was added. <i>(2023-02-14)</i>
+ [Receipt] Elements "note" and "items.note" were added. <i>(2023-02-06)</i>
+ [Order incoming] Element "dispatchIncomplete" was added. <i>(2023-02-02)</i>
+ [Partner, Order incoming] Element "mergeShipping" was added. <i>(2023-02-02)</i>
+ [Exporting mySTOCK events] Event 28 was added. <i>(2023-01-13)</i>
+ [Product‘s unit of measurement] Element "fullPallet" was added. <i>(2023-01-06)</i>
+ Chapter "Extension data" was added. <i>(2022-11-16)</i>
+ [Product] Elements for "Product colors", "Product categories" and "Product seasons" were added. <i>(2022-11-04)</i>
+ [Product] Elements "extensionData.properties.key", "extensionData.properties.language" and "extensionData.properties.value" were added. <i>(2022-11-04)</i>
+ Chapter "Item list" was added. <i>(2022-11-04)</i>
+ Chapter "Despatch advice" was added. <i>(2022-10-26)</i>
+ [Exporting mySTOCK events] Element "barcode" was added. <i>(2022-10-14)</i>
+ [Exporting mySTOCK events] Event 27 was added. <i>(2022-10-14)</i>
+ [Exporting mySTOCK events] Element "volume" was added. <i>(2022-10-11)</i>
+ [Exporting mySTOCK events] Event 11 was added. <i>(2022-10-11)</i>
+ [Order incoming] Element "note" was added. <i>(2022-10-11)</i>
+ Chapters "Product Group" and "Shipping label" were added. <i>(2022-10-04)</i>
+ [Product] Element "groupId" was added. <i>(2022-10-04)</i>
+ [Exporting mySTOCK events] Event 26 was added. <i>(2022-10-04)</i>
+ Chapter "Product‘s unit of measurement" was added. <i>(2022-10-03)</i>
+ [Order incoming] Part "Update an order incoming" was updated, part "Delete an Order incoming" was added. <i>(2022-09-27)</i>
+ [Order incoming] Element "itemsGroupingMethod" was added. <i>(2022-09-21)</i>
+ [Product] Element "conversionMeasurementUnitCode" was added. <i>(2022-09-21)</i>
+ [Order incoming] Element "processingMethodCode" was added. <i>(2022-08-15)</i>
+ [Product] Elements "nameShort", "manufacturerProductNumber", "storeSeparately", "brandId" and "brandId2" were added. <i>(2022-08-15)</i>
+ Chapter "Inventory check results" was added. <i>(2022-08-05)</i>
+ [Exporting mySTOCK events] Event 25 was added. <i>(2022-08-05)</i>
+ [Product] Elements "variantMandatory" and "atestMandatory" were added. <i>(2022-07-25)</i>
+ [Exporting mySTOCK events] Event 6 now includes new attribute "atestNumber". Event 22 was added. <i>(2022-07-25)</i>
+ [Order incoming, Receipt] The element "name" was added. <i>(2022-06-16)</i>
+ Chapter "Issue to production" was added. <i>(2022-06-01)</i>
+ [Exporting mySTOCK events] Event 7 now includes new subtype for orders incoming. <i>(2022-05-31)</i>
+ Chapter "Inventory check" was added. <i>(2022-05-18)</i>
+ Chapter "Product stock card" was added. <i>(2022-04-20)</i>
+ [Partner, Partner's operating unit, Product, Order incoming, Receipt] Element "extIsId" was added. <i>(2022-04-08)</i>
+ [Exporting mySTOCK events] Event 100 was added. <i>(2022-03-11)</i>
+ [Order incoming, Receipt, Events] Elements "batch" and "expirationDate" were added. <i>(2022-03-11)</i>
+ [Order incoming, Receipt] The element "commission" was added. <i>(2022-02-24)</i>
+ [Product] Elements "type" and "measurementUnitCode" are no longer mandatory when the product is being updated <i>(2022-02-01)</i>
+ [Partner] Fixed typing error in the element "companyRegistrationId" - the element had been renamed to "companyRegistrationID". <i>(2022-01-26)</i>
+ [Product] The element "warehouseCode" is no longer mandatory. <i>(2022-01-14)</i>
+ [Stock card] New web service for exporting stock cards from the WMS has been added. <i>(2021-11-14)</i>
+ [POST web services] Successful response status was changed from 200 to 201. <i>(2021-11-14)</i>
+ [Order incoming] Description for the paymentMethodCode and payment details (variableSymbol, cashAmount, currencyCode) was updated. <i>(2021-11-11)</i>
+ [Exporting mySTOCK events] Body of the response 200 was updated for all events. <i>(2021-11-03)</i>
+ Chapter "Receipt" was added. <i>(2021-09-13)</i>
+ Chapter "Exporting events (webhook) [POST]" was added. <i>(2021-09-13)</i>
+ Chapter "Update result [PUT]" was added, description of the update web services was added to the respective chapters. <i>(2021-09-13)</i>
+ [Product, Product barcode, Order incoming] Following elements had been renamed: "measurementUnitId" --> "measurementUnitCode". <i>(2021-09-13)</i>
+ [Order incoming] Following elements had been renamed: "deliveryMethodId" --> "deliveryMethodCode", "paymentMethodId" --> "paymentMethodCode". <i>(2021-09-13)</i>
+ [Partner] The element "operatingUnitCode" is no longer supported. <i>(2021-09-13)</i>
+ [Order incoming, Receipt] The element "itemId" is no longer required to be filled by the ERP, the ID of the item is generated by the API during the insert of the order incoming or the receipt. <i>(2021-09-13)</i>
+ [Product] The element "groupCode" is no longer supported. <i>(2021-09-13)</i>

## Partner [/V1/partner/]

Base URI template that is used at the end of the URL when the web service is called: <b>/V1/partner/</b> (example: https://demo.mystock.cz/V1/partner/).

The web service has following elements:
+ code: `P0045` (string (150), required) - Partner code from the ERP - a unique identifier that cannot be changed over time, it is used to identify a partner in the WMS. The code is displayed to warehouse operators on mobile devices and is printed in reports.
+ extIsId: `1D15F666` (string(1024), condition) - Unique identifier of the record in the ERP that must be used when it is not possible to ensure that the value in the element "code" is unique. If the identification in the element "code" is unique, "extIsId" should not be filled in.
+ type: `3` (tinyint, required) - Supported partner types: 0 - Not specified, 1 - Customer, 2 - Supplier, 3 - Customer and supplier.
+ name: `Partner 45, a.s.` (string (150), required) - Name of the partner.
+ nameShort: `Par 45` (string (20)) - Short name of the partner, if the element is not filled in, the WMS uses first 20 characters from the partner's name as the short name.
+ companyRegistrationID: `ICO12345` (string (30)) - Partner's registration number. The registration number must be unique - if the same registration number is already used with different partner, the entry will not be imported into the WMS. Registration number cannot be longer than 15 characters and can contain only capital letters and numbers (no spaces are permitted).
+ active: `1` (tinyint) - Defines if the partner is active. Supported values: 0 - No, 1 - Yes. If no value is filled in, the partner is inserted as active.
+ mergeShipping: `1` (tinyint) - Determines whether it is possible to combine the partner's order incoming together with other orders incoming with the same place of delivery into one shipment. Supported values: 0 - No, 1 - Yes.
+ packingListRequired: `0` (tinyint) - Defines whether the packaging list should be printed during dispatch. Supported values: 0 – Do not print, 1 - after import into WMS it is transformed to the value 30, 20 - Partial - for each logistics unit, 30 - For the order incoming - to the last logistics unit
+ deliveryNoteRequired: `0` (tinyint) - Defines whether the delivery note should be printed during dispatch. Supported values: 0 – Do not print, 1 - after import into WMS it is transformed to the value 30, 20 - Partial - for each logistics unit, 30 - For the order incoming - to the last logistics unit
+ invoiceRequired: `0` (tinyint) - Defines whether the invoice should be printed during dispatch. Supported values: 0 – Do not print, 1 - after import into WMS it is transformed to the value 30, 20 - Partial - for each logistics unit, 30 - For the order incoming - to the last logistics unit
+ outboundCheck: `10` (tinyint) - Mandatory outbound check. In the case of "Not specified", the outbound check is mandatory according to other conditions and settings (e.g. by order incoming, order incoming item, shipment, person who processed the document). Supported values: 0 - Not specified, 10 - Yes, 20 - No, 30 - Soft.
+ partyIdentification.street: `Novoveská 22` (string (100)) - Street.
+ partyIdentification.city: `Ostrava` (string (100)) - City.
+ partyIdentification.zip: `70900` (string (20)) - ZIP code.
+ partyIdentification.country: `CZ` (string (20), required) - Country code should be filled according to the ISO 3166-1 standard with alpha-2 codes (e.g. "CZ" for Czech Republic).
+ partyIdentification.email: `jan@novak.cz` (string (60)) - E-mail.
+ partyIdentification.phone: `+420558123456` (string (60)) - Phone number.
+ operatingUnits: Optional collection of partner's operating units. See chapter Partner's operating unit for the list of possible elements of the operating units.

### Create a Partner [POST /V1/partner/]

When a partner is created,operating unit can be created either alongside the partner (see the section "operatingUnits" in the example) or later with separate service (see the header "Partner's operating unit").

+ Request (application/json)

        {
            "code": "P0045",
            "extIsId": "1D15F666",
            "type": 3,
            "name": "Partner 45, a.s.",
            "nameShort": "Par 45",
            "companyRegistrationID": "ICO12345",
            "active": 1,
            "mergeShipping": 1,
            "packingListRequired": 0,
            "deliveryNoteRequired": 0,
            "invoiceRequired": 0,
            "outboundCheck": 10,
            "partyIdentification": {
                "street": "Novoveská 22",
                "city": "Ostrava",
                "zip": "70900",
                "country": "CZ",
                "email": "jan@novak.cz",
                "phone": "+420558123456"
            },
            "operatingUnits": [
                {
                    "code": "PJ001",
                    "extIsId": "33A50301",
                    "type": 1,
                    "name": "Provozní jednotka 1",
                    "partyIdentification": {
                        "city": "Ostrava",
                        "country": "CZ",
                        "email": "a@a.cz",
                        "phone": "+420558123456",
                        "street": "Novoveská",
                        "zip": "70900"
                    }
                }
            ]
        }

+ Response 201 (application/json)

        {
        "data": 
            {
            "ids": [
                {
                    "id": "4D63AD01-B5F8-4B1F-9F4B-863C135926C0",
                    "recordId": "1",
                    "sourceId": "1D15F666",
                    "type": "partner"
                },
                 {
                    "id": "1A672B37-B674-4F14-A13F-C82EAF53BF15",
                    "recordId": "1",
                    "sourceId": "33A50301",
                    "type": "partnerOperatingUnit"
                }
            ]
            },
        "errors": []
        }
        
+ Response 400 (application/json)

        {
        "data": null,
        "errors": [
            {
                "errorText": "Logical key is not unique",
                "errorType": 5,
                "internalRecordId": "FAEA266F-1FC6-4A39-A848-748038AB3A20",
                "propertyName": "code",
                "recordId": "1",
                "recordType": "partner",
                "sourceId": "1D15F666"
            }
            ]
        }

### Update a Partner [PUT /V1/partner/{partnerId}]
In the update web service, it is always necessary to send a unique identification of the changed record (ID) in the URL. The body of the update web service must always contain all the mandatory elements (see below), other elements should be filled in only when there is need to change the information they contain (e.g. if you only need to change partner's name, all the other optional elements should remain null).

Only partner information may be updated using this web service, if you want to update partner's operating unit, use the corresponding web service.

If one of the updated values is filled in incorrectly and the validation procedure reports an error, the system will cancel the whole update - none of the changed values will be updated.

List of elements that may be updated:
+ type: `3` (tinyint)
+ name: `Partner 45, a.s.` (string (150))
+ nameShort: `Par 45` (string (20))
+ companyRegistrationID: `ICO12345` (string (30))
+ active: `1` (tinyint)
+ mergeShipping: `1` (tinyint)
+ packingListRequired: `0` (tinyint)
+ deliveryNoteRequired: `0` (tinyint)
+ invoiceRequired: `0` (tinyint)
+ outboundCheck: `10` (tinyint)
+ partyIdentification.street: `Novoveská 22` (string (100))
+ partyIdentification.city: `Ostrava` (string (100))
+ partyIdentification.zip: `70900` (string (20))
+ partyIdentification.country: `CZ` (string (20))
+ partyIdentification.email: `jan@novak.cz` (string (60))
+ partyIdentification.phone: `+420558123456` (string (60))

+ Parameters
    + partnerId: `4D63AD01-B5F8-4B1F-9F4B-863C135926C0` (string) - A unique identifier of the partner you want to update.

+ Request (application/json)

        {
            "type": 3,
            "name": "Partner 45, a.s.",
            "nameShort": "Par 45",
            "companyRegistrationID": "ICO12345",
            "active": 1,
            "mergeShipping": 1,
            "packingListRequired": 0,
            "deliveryNoteRequired": 0,
            "invoiceRequired": 0,
            "outboundCheck": 10,
            "partyIdentification": {
                "street": "Novoveská 22",
                "city": "Ostrava",
                "zip": "70900",
                "country": "CZ",
                "email": "jan@novak.cz",
                "phone": "+420558123456"
            }  
        }

+ Response 200 (application/json)

        {
        "data": "OK",
        "errors": []
        }
        
+ Response 400 (application/json)

        {
        "data": null,
        "errors": [
            {
                "errorText": "Invalid entry",
                "errorType": 3,
                "internalRecordId": null,
                "propertyName": "partyIdentification.country",
                "recordId": "1",
                "recordType": "partner",
                "sourceId": "1D15F666"
            }
            ]
        }

## Partner's operating unit [/V1/partnerOperatingUnit/]

Base URI template that is used at the end of the URL when the web service is called: <b>/V1/partnerOperatingUnit/</b> (example: https://demo.mystock.cz/V1/partnerOperatingUnit/).

The web service has following elements:
+ code: `PJ002` (string (20), required) - Operating unit code from the ERP - a unique identifier that cannot be changed over time, it is used to identify partner's operating unit in the WMS. The code is displayed to warehouse operators on mobile devices and is printed in reports.
+ extIsId: `473E380B` (string(1024), condition) - Unique identifier of the record in the ERP that must be used when it is not possible to ensure that the value in the element "code" is unique. If the identification in the element "code" is unique, "extIsId" should not be filled in.
+ partnerId: `4D63AD01-B5F8-4B1F-9F4B-863C135926C0` (string (1024), required) - Unique identifier of the partner - the ID is generated during the creation of the partner via API.
+ type: `2` (tinyint, required) - Supported operating unit types: 0 - Not specified, 1 - Customer, 2 - Supplier, 3 - Customer and supplier.
+ name: `Provozní jednotka 2` (string (150), required) - Name of the operating unit.
+ partyIdentification.street: `Novoveská 22` (string (100)) - Street.
+ partyIdentification.city: `Ostrava` (string (100)) - City.
+ partyIdentification.zip: `70900` (string (20)) - ZIP code.
+ partyIdentification.country: `CZ` (string (20), required) - Country code should be filled according to the ISO 3166-1 standard with alpha-2 codes (e.g. "CZ" for Czech Republic).
+ partyIdentification.email: `jan@novak.cz` (string (60)) - E-mail.
+ partyIdentification.phone: `731123456` (string (60)) - Phone number.

### Create a Partner's operating unit[POST /V1/partnerOperatingUnit/]

Partner's operating unit can be created either alongside the partner by using the "Create a Partner" web service or after the partner is already created by using the "Create a Partner's operating unit" web service.

+ Request (application/json)

        {
        "code": "PJ002",
        "extIsId": "473E380B",
        "partnerId" : "4D63AD01-B5F8-4B1F-9F4B-863C135926C0",
        "type": 2,
        "name": "Provozní jednotka 2",
        "partyIdentification": {
            "street": "Novoveská 22",
            "city": "Ostrava",
            "zip": "70900",
            "country": "CZ",
            "email": "jan@novak.cz",
            "phone": "+420558123456"
            }    
        }

+ Response 201 (application/json)

        {
        "data": 
            {
            "ids": [
                {
                    "id": "C68CE16E-42E1-4E5D-BE6C-BC8897FF6479",
                    "recordId": "1",
                    "sourceId": "473E380B",
                    "type": "partnerOperatingUnit"
                }
            ]
            },
        "errors": []
        }
        
+ Response 400 (application/json)

        {
        "data": null,
        "errors": [
            {
                "errorText": "Invalid value",
                "errorType": 3,
                "internalRecordId": null,
                "propertyName": "partnerId",
                "recordId": "1",
                "recordType": "partnerOperatingUnit",
                "sourceId": "473E380B"
            }
            ]
        }

### Update a Partner's operating unit[PUT /V1/partnerOperatingUnit/{partnerOperatingUnitId}]

In the update web service, it is always necessary to send a unique identification of the changed record (ID) in the URL. The body of the update web service must always contain all the mandatory elements (see below), other elements should be filled in only when there is need to change the information they contain (e.g. if you only need to change operating unit's name, all the other optional elements should remain null).

If one of the updated values is filled in incorrectly and the validation procedure reports an error, the system will cancel the whole update - none of the changed values will be updated.

List of elements that may be updated:
+ partnerId: `4D63AD01-B5F8-4B1F-9F4B-863C135926C0` (string (1024), required) - The ID of the partner to which the operating unit belongs. It is not possible to change the partner ID within the update - if you want to assign the given operating unit to another partner, you must deactivate the operating unit for the original partner and create a new operating unit for the new partner.
+ type: `2` (tinyint)
+ name: `Provozní jednotka 2` (string (150))
+ partyIdentification.street: `Novoveská 22` (string (100))
+ partyIdentification.city: `Ostrava` (string (100))
+ partyIdentification.zip: `70900` (string (20))
+ partyIdentification.country: `CZ` (string (20))
+ partyIdentification.email: `jan@novak.cz` (string (60))
+ partyIdentification.phone: `731123456` (string (60))

+ Parameters
    + partnerOperatingUnitId: `C68CE16E-42E1-4E5D-BE6C-BC8897FF6479` (string) - A unique identifier of the partner's operating unit you want to update.

+ Request (application/json)

        {
            "partnerId": "4D63AD01-B5F8-4B1F-9F4B-863C135926C0",
            "type": 2,
            "name": "Provozní jednotka 2",
            "partyIdentification": {
                "street": "Novoveská 22",
                "city": "Ostrava",
                "zip": "70900",
                "country": "CZ",
                "email": "jan@novak.cz",
                "phone": "+420558123456"
            }
        }

+ Response 200 (application/json)

        {
        "data": "OK",
        "errors": []
        }
        
+ Response 400 (application/json)

        {
        "data": null,
        "errors": [
            {
                "errorText": "Invalid value",
                "errorType": 3,
                "internalRecordId": null,
                "propertyName": "partnerId",
                "recordId": "1",
                "recordType": "partnerOperatingUnit",
                "sourceId": "473E380B"
            }
            ]
        }

## Product [/V1/product/]

Base URI template that is used at the end of the URL when the web service is called: <b>/V1/product/</b> (example: https://demo.mystock.cz/V1/product/).

The web service has following elements:
+ productCode: `X415EA-EB037T` (string (150), required) - Unique product code from the ERP system. The code is displayed to warehouse operators on mobile devices and is printed in reports.
+ extIsId: `648DC0FF` (string(1024), condition) - Unique identifier of the record in the ERP that must be used when it is not possible to ensure that the value in the element "productCode" is unique. If the identification in the element "productCode" is unique, "extIsId" should not be filled in.
+ name: `Asus X415EA-EB037T Slate Grey` (string (255), required) - Name of the product.
+ nameShort: `Asus X415EA` (string (150), condition) - Short name of the product. The maximum length of the product's short name can vary as it is set in the WMS (it is usually set to 40 characters). The setting in the WMS also determines whether the value must be sent from an ERP system.
+ type: `0` (smallint, required) - Supported product types: 0 - Goods (basic product type which is used most often), 10 - Material, 20 - Packaging, 30 - Other without stock, 40 - Product (products manufactured in the warehouse), 50 - Set, 60 - Semi-finished product, 70 - Production in progress, 80 - Gift voucher, 90 - Fabric, 100 - Promotional material.
+ subtype: `0` (tinyint) - Supported product subtypes: 0 - Not specified, 10 - Carrier service, 20 - Supplementary product.
+ warehouseCode: `1001` (string(20)) - Warehouse code must be registered in the WMS (if the customer works with multiple warehouses registered in the WMS, it is sufficient to fill in only one warehouse code).
+ measurementUnitCode: `KS` (string (1024), required) - Basic unit of measurement in which the product is recorded on stock cards - the code is generated during the creation of the unit of measurement in the WMS.
+ weightGross: `10.5` (numeric (15,4)) - Gross weight of the product (in kilograms).
+ weightNett: `9.5` (numeric (15,4)) - Net weight of the product (in kilograms).
+ grossDimension.height: `2` (numeric (8,4)) - Gross height of the product (in meters).
+ grossDimension.width: `1.5` (numeric (8,4)) - Gross width of the product (in meters).
+ grossDimension.depth: `3.5` (numeric (8,4)) - Gross depth of the product (in meters).
+ grossDimension.volume: `10.5` (numeric (15,4)) - Gross volume of the product (in cubic meters).
+ pictureUrl: `www.mystock.cz/product.png` (string (255)) - URL path to the image of the product. If the URL contains backslash character, the backslash has to be doubled (e.g. a UNC path "\\\\192.168.55.3\\product\\377169719.jpg" has to be sent as "\\\\\\\\192.168.55.3\\\\product\\\\377169719.jpg" - this limitation is based on the JSON characteristics).
+ pictureData: `/9j/4AAQSkZJRgABAQEASABIAAD/4gxYSUNDX1BST0ZJTEUAAQEAAAxITG` (varbinary) - Binary data to convert to image in Base64.
+ expirationMandatory: `1` (tinyint) - Mandatory registration of the expiration date. Supported values: 0 - No, 1 - Yes.
+ expirationPeriod: `365` (integer, condition) - Total shelf life (expiration date) of the product in days. Mutually exclusive with element "expirationPeriodInMonth" - at any time only one of these two may be set. Permitted settings: 1) Both elements are undefined (null value), 2) Value of one element is set to 0 and the other element has any positive number.
+ expirationPeriodSupplier: `30` (integer) - Defines the minimum shelf life (in days) on receipt as specified by the supplier.
+ expirationPeriodInMonth: `12` (integer, condition) - Defines the product's shelf life in months. Mutually exclusive with element "expirationPeriod" (days) - at any time only one of these two may be set. Permitted settings: 1) Both elements are undefined (null value), 2) Value of one element is set to 0 and the other element has any positive number.
+ batches: `0` (tinyint) - Mandatory registration of batch numbers. Supported values: 0 - No, 1 - Yes.
+ variantMandatory: `0` (tinyint) - Mandatory registration of variants. Supported values: 0 - no, 1 - yes.
+ atestMandatory: `0` (tinyint) - Mandatory registration of atests. Supported values: 0 - no, 1 - yes.
+ serialNumbersRecords.inboundMandatory: `0` (tinyint) - Mandatory registration of serial numbers (inbound). Supported values: 0 - No, 1 - Yes.
+ serialNumbersRecords.outboundMandatory: `1` (tinyint) - Mandatory registration of serial numbers (outbound). Supported values: 0 - No, 1 - Yes.
+ manufacturerProductNumber: `BV373` (string (40)) - Product number defined by the manufacturer.
+ storeSeparately: `0` (tinyint) - Information on whether the product is to be stored separately. Supported values: 0 - No, 1 - Yes.
+ brandId: `BC9B92F8-71DE-449B-917C-4029E6CFA6C1` (string (1024)) - ID of the first brand of the product- the ID is generated within the web service for importing item lists.
+ brandId2: `90AD3F04-1489-4CC8-8FD4-3AEEE62379E7` (string (1024)) - ID of the second brand of the product - the ID is generated within the web service for importing item lists.
+ conversionMeasurementUnitCode: `M2` (string (1024)) - Conversion unit of measurement.
+ barcodes: Optional collection of product's barcodes. See chapter Product barcode for the list of possible elements of the barcodes.
+ handling equipments: Optional collection of product's handling equipments. See chapter Product handling equipment for the list of possible elements of the handling equipments.
+ groupId: `D959BB85-0F8F-44F5-AA2F-B028C8F69F38` (string (1024)) - ID of the product group - the ID is generated within the web service for importing product groups.
+ productLabelPrint: `0` (tinyint) - Setting which guides user in WMS to print product label (containing barcode) or stock card label while receiving product. Supported values: 0 - No, 1 - Yes.
+ productLabelPrintReceipt: `0` (tinyint) - Indicates whether a product label should be printed for this item upon receipt. Supported values: 0 - No, 1 - Yes.
+ primarySupplierId: `AFF2D206-09B5-4B09-A391-876B20502485` (string (1024)) - Unique identifier of the supplier - the ID is generated during the creation of the supplier via API. Supplier must be active in WMS.
+ description: `Description of the product` (string (32766)) - Optional description of the product.
+ commodityCode: `58475465` (string (14)) - Commodity code - customs tariff
+ countryCode: `CZ` (string (3)) - Country code
+ palletQuantity: `7` (numeric (15,4)) - Number of quantity per pallet.
+ salesCategoryId: `KAT` (string (1024), condition) - ID of the preferred sales category used for ABC analysis. Mandatory if the "salesCategoryValidityDate" element is filled in, otherwise should not be filled in.
+ salesCategoryValidityDate: `2025-04-14 00:00:00.000` (datetime, condition) - Validity date for preferred salability category. Mandatory if the "salesCategoryId" element is filled in, otherwise should not be filled in.
+ productPackageChange: `1` (tinyint) - Specifies whether the packaging of the product should be changed during the process of receipt. Supported values: 0 – No, 1 – Yes, the packaging must be changed during the process of receipt (unless stated otherwise on the receipt).
+ texts.text: `Be careful, fragile!` (string(32766)) - Text from ERP. Multiple texts can be sent, but only one for each type (element typeOfText).
+ texts.typeOfText: `20` (tinyint) - Type of text. Specifies in which process the text will be displayed. Supported values: 10 - Product, 20 - Receipt, 30 - Picking, 40 - Packaging, 50 - Completion, 60 - Loading, 70 - Picking and packaging, 80 - Picking and completion, 90 - Picking, packaging and completion 

<b>Extension data</b>

The collection "extensionData" can be added to the web service in order to provide additional elements that are not a part of the standard web service. See the header "Extension data" for more details. The elements labeled as "required" must be filled in only if you want to use the specific extensionData colection.

<b>Extension data - values in foreign language</b>

+ extensionData.entities.type: `Assortment` (constant, required)
+ extensionData.entities.properties.key: `Name` (constant, required)
+ extensionData.entities.properties.language: `en` (constant, required)
+ extensionData.entities.properties.value: `Original name` (string (222)) - Name of the product (EN).

<b>Extension data - manufacturer's barcode</b>

+ extensionData.entities.type: `Assortment` (constant, required)
+ extensionData.entities.properties.key: `ManufacturerBarcode` (constant, required)
+ extensionData.entities.properties.value: `150804` (string (30)) - Barcode of the manufacturer.

<b>Extension data - product colors</b>

In the WMS, product colors are recorded in a relational table with a relation to the product. In the API, colors are handled using extensionData.
+ extensionData.entities.type: `Assortment` (constant, required)
+ extensionData.entities.relations.type: `AssortmentColor` (constant, required)
+ extensionData.entities.relations.extIsId: `A34S48GE` (string (1024), required) - Unique identifier of the record in the ERP.
+ extensionData.entities.relations.properties.key: `ColorType` (constant, required)
+ extensionData.entities.relations.properties.value: `20` (tinyint, required) - Supported values: 0 - Basic, 10 - Logistic, 20 - Manufacturer color
+ extensionData.entities.relations.properties.type: `ID` (constant, required) - Specifies that this is an item list field.
+ extensionData.entities.relations.properties.key: `ColorCode` (constant, required)
+ extensionData.entities.relations.properties.value: `E65BB5D2-491B-4E3F-B2F8-37E0EE0B38ED` (string (1024), required) - Unique identifier of the color - the ID is generated during the creation of the color via API - web service itemList.

<b>Extension data - product categories</b>

In the WMS, product categories are recorded in a relational table with a relation to the product. In the API, categories are handled using extensionData.
+ extensionData.entities.type: `Assortment` (constant, required)
+ extensionData.entities.relations.type: `AssortmentCategoryRel` (constant, required)
+ extensionData.entities.relations.extIsId: `B48S11LE` (string (1024), required) - Unique identifier of the record in the ERP.
+ extensionData.entities.relations.properties.key: `CategoryType` (constant, condition) - Mandatory if the "value" element is filled in, otherwise should not be filled in.
+ extensionData.entities.relations.properties.value: `20` (tinyint, condition) - Mandatory if the "key" element is "CategoryType", otherwise should not be filled in. Value must be used same as is category established via API - web service itemList. Supported values: 10 - Gender, 20 - Size, 30 - Main group, 35 - Inventory group, 40 - Data replication
+ extensionData.entities.relations.properties.type: `ID` (constant, required) - Specifies that this is a item list field.
+ extensionData.entities.relations.properties.key: `CategoryCode` (constant, required)
+ extensionData.entities.relations.properties.value: `E65BB5D2-491B-4E3F-B2F8-37E0EE0B38ED` (string (1024), required) - Unique identifier of the category - the ID is generated during the creation of the category via API - web service itemList.

<b>Extension data - product seasons</b>

In the WMS, product seasons are recorded in a relational table with a relation to the product. In the API, seasons are handled using extensionData.
+ extensionData.entities.type: `Assortment` (constant, required)
+ extensionData.entities.relations.type: `AssortmentSeasonRel` (constant, required)
+ extensionData.entities.relations.extIsId: `G47J58GE` (string (1024), required) - Unique identifier of the record in the ERP.
+ extensionData.entities.relations.properties.type: `ID` (constant, required) - Specifies that this is an item list field.
+ extensionData.entities.relations.properties.key: `AssortmentSeasonCode` (constant, required)
+ extensionData.entities.relations.properties.value: `3991843B-1FB7-4248-8563-AA2CA458FFE9` (string (1024), required) - Unique identifier of the season - the ID is generated during the creation of the season via API - web service itemList.

<b>Extension data - product variants</b>

In the WMS, product variants are recorded in a relational table with a relation to the product. In the API, variants are handled using extensionData.
+ extensionData.entities.type: `Assortment` (constant, required)
+ extensionData.entities.relations.type: `AssortmentVariant` (constant, required)
+ extensionData.entities.relations.extIsId: `A87J5F3E` (string (1024), required) - Unique identifier of the record in the ERP.
+ extensionData.entities.relations.properties.type: `ID` (constant, required) - Specifies that this is an item list field.
+ extensionData.entities.relations.properties.key: `VariantCode` (constant, required)
+ extensionData.entities.relations.properties.value: `E65BB5D2-491B-4E3F-B2F8-37E0EE0B38ED` (string (1024), required) - Unique identifier of the variant - the ID is generated during the creation of the variant via API - web service itemList.

<b>Extension data - number of pages</b>

+ extensionData.entities.type: `Assortment` (constant, required)
+ extensionData.entities.properties.key: `NumberOfPages` (constant, required)
+ extensionData.entities.properties.value: `327` (numeric (500)) - Number of pages.

<b>Extension data - recommended price</b>

+ extensionData.entities.type: `Assortment` (constant, required)
+ extensionData.entities.properties.key: `RecommendedPrice` (constant, required)
+ extensionData.entities.properties.value: `499` (numeric (500)) - Recommended price of the product.

### Create a Product[POST /V1/product/]
When a product is created, product’s barcodes, handling equipments can be either created alongside the product (see the section "barcodes", "handling equipments" in the example) or later with separate service (see the header "Product barcode", "Product handling equipment").

+ Request (application/json)

        {
            "productCode": "X415EA-EB037T",
            "extIsId": "648DC0FF",
            "name": "Asus X415EA-EB037T Slate Grey",
            "nameShort": "Asus X415EA",
            "type": 0,
            "subtype": 0,
            "primarySupplierId": "AFF2D206-09B5-4B09-A391-876B20502485",
            "warehouseCode": 1001,
            "measurementUnitCode": "KS",
            "weightGross": 10.5,
            "weightNett": 9.5,
            "grossDimension": {
                "height": 2,
                "width": 1.5,
                "depth": 3.5,
                "volume": 10.5
            },
            "pictureUrl": "www.mystock.cz/product.png",
            "pictureData": "/9j/4AAQSkZJRgABAQEASABIAAD/4gxYSUNDX1BST0ZJTEUAAQEAAAxITG",
            "expirationMandatory": 1,
            "expirationPeriod": 365,
            "expirationPeriodSupplier": 30,
            "expirationPeriodInMonth": 0,
            "batches": 0,
            "variantMandatory": 0,
            "atestMandatory": 0,
            "serialNumbersRecords": {
                "inboundMandatory": 0,
                "outboundMandatory": 1
            },
            "manufacturerProductNumber": "BV373",
            "storeSeparately": 0,
            "brandId": "BC9B92F8-71DE-449B-917C-4029E6CFA6C1",
            "brandId2": "90AD3F04-1489-4CC8-8FD4-3AEEE62379E7",
            "conversionMeasurementUnitCode": "M2",
            "groupId": "D959BB85-0F8F-44F5-AA2F-B028C8F69F38",
            "productLabelPrint": 0,
            "productLabelPrintReceipt": 0,
            "description": "Description of the product",
            "commodityCode": "58475465",
            "countryCode": "CZ",
            "palletQuantity": 7,
            "salesCategoryId": "KAT",
            "salesCategoryValidityDate": "2025-04-14 00:00:00.000",
            "productPackageChange": 1,
            "texts": [
                {
                    "text": "Be careful, fragile!",
                    "typeOfText": 20
                },
                {
                    "text": "Be careful, fragile!",
                    "typeOfText": 50
                }
            ],
            "barcodes": [
                {
                    "extIsId": "EGS4654",
                    "barcode": "EAN1",
                    "default": 1,
                    "measurementUnitCode": "KS",
                    "active": 1
                },
                {
                    "extIsId": "SSDE789",
                    "barcode": "EAN2",
                    "default": 0,
                    "measurementUnitCode": "BAL",
                    "active": 1
                }
            ],
            "handlingEquipments": [
                {
                    "extIsId": "RET6513",
                    "handlingEquipmentId": "VZV",
                    "minQuantity": 5,
                    "maxQuantity": 5,
                    "active": 1
                },
                {
                    "extIsId": "WTWE610",
                    "handlingEquipmentId": "VNA",
                    "minQuantity": 4,
                    "maxQuantity": 25,
                    "active": 0
                }
            ],
            "extensionData": {
                "entities": [
                    {
                        "type": "Assortment",
                        "properties": [
                            {
                                "key": "Name",
                                "language": "en",
                                "value": "Original name"
                            },
                            {
                                "key": "ManufacturerBarcode",
                                "value": "150804"
                            },
                            {
                                "key": "NumberOfPages",
                                "value": "327"
                            },
                            {
                                "key": "RecommendedPrice",
                                "value": "499"
                            }
                        ],
                        "relations": [
                            {
                                "type": "AssortmentColor",
                                "extIsId": "A34S48GE",
                                "properties": [
                                    {
                                        "key": "ColorType",
                                        "value": "20"
                                    },
                                    {
                                        "type": "ID",
                                        "key": "ColorCode",
                                        "value": "E65BB5D2-491B-4E3F-B2F8-37E0EE0B38ED"
                                    }
                                ]
                            },
                            {
                                "type": "AssortmentColor",
                                "extIsId": "B47S48FT",
                                "properties": [
                                    {
                                        "key": "ColorType",
                                        "value": "10"
                                    },
                                    {
                                        "type": "ID",
                                        "key": "ColorCode",
                                        "value": "C6462248-7F1E-48FD-A2F5-21151DB03472"
                                    }
                                ]
                            },
                            {
                                "type": "AssortmentSeasonRel",
                                "extIsId": "G47J58GE",
                                "properties": [
                                    {
                                        "type": "ID",
                                        "key": "AssortmentSeasonCode",
                                        "value": "3991843B-1FB7-4248-8563-AA2CA458FFE9"
                                    }
                                ]
                            },
                            {
                                "type": "AssortmentCategoryRel",
                                "extIsId": "B48S11LE",
                                "properties": [
                                    {
                                        "key": "CategoryType",
                                        "value": "20"
                                    },
                                    {
                                        "type": "ID",
                                        "key": "CategoryCode",
                                        "value": "E65BB5D2-491B-4E3F-B2F8-37E0EE0B38ED"
                                    }
                                ]
                            },
                            {
                                "type": "AssortmentVariant",
                                "extIsId": "A87J5F3E",
                                "properties": [
                                    {
                                        "type": "ID",
                                        "key": "VariantCode",
                                        "value": "E65BB5D2-491B-4E3F-B2F8-37E0EE0B38ED"
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        }

+ Response 201 (application/json)

        {
            "errors": [],
            "data": {
                "ids": [
                    {
                        "id": "8BB6095E-9B0E-4D07-8616-4426DA126BD0",
                        "recordId": "1",
                        "sourceId": "648DC0FF",
                        "type": "product"
                    },
                    {
                        "id": "9145D9C0-B4ED-428F-ACBA-90A33B7CE652",
                        "recordId": "1",
                        "sourceId": "EGS4654",
                        "type": "productBarcode"
                    },
                    {
                        "id": "7892AA0C-F7BE-4B32-87A2-D5E265D148AF",
                        "recordId": "2",
                        "sourceId": "SSDE789",
                        "type": "productBarcode"
                    },
                    {
                        "id": "A36A3930-809C-46EF-8112-C51B130F01D5",
                        "recordId": "0",
                        "sourceId": "RET6513",
                        "type": "productHandlingEquipment"
                    },
                    {
                        "id": "95738118-D68E-4819-8096-06DBDF29CDDB",
                        "recordId": "1",
                        "sourceId": "WTWE610",
                        "type": "productHandlingEquipment"
                    }
                ]
            },
            "extensionData": {
                "ids": [
                    {
                        "id": "E7127A2D-70B0-4288-A1A0-BF216788AAD8",
                        "recordId": "1",
                        "sourceId": "A34S48GE",
                        "type": "product/relations/Assortment/AssortmentColor",
                        "parentSourceId": "648DC0FF"
                    },
                    {
                        "id": "60ECDC0D-C40A-4F8B-9A84-3636132CD22E",
                        "recordId": "1",
                        "sourceId": " B47S48FT",
                        "type": "product/relations/Assortment/AssortmentColor",
                        "parentSourceId": "648DC0FF"
                    },
                    {
                        "id": "4CE6D4A1-17BE-431E-81C5-64606CC5D60B",
                        "recordId": "1",
                        "sourceId": "G47J58GE",
                        "type": "product/relations/Assortment/AssortmentSeasonRel",
                        "parentSourceId": "648DC0FF"
                    },
                    {
                        "id": "2A8C33BB-483A-4AD0-A0B2-653DDB34D361",
                        "recordId": "1",
                        "sourceId": "B48S11LE",
                        "type": "product/relations/Assortment/AssortmentCategoryRel",
                        "parentSourceId": "648DC0FF"
                    },
                    {
                        "id": "8G8C64BB-412A-7AD0-A0B2-669DAB24D361",
                        "recordId": "1",
                        "sourceId": "A87J5F3E",
                        "type": "product/relations/Assortment/AssortmentVariant",
                        "parentSourceId": "648DC0FF"
                    }
                ]
            }
        }
        
+ Response 400 (application/json)

        {
        "data": null,
        "errors": [
            {
                "errorText": "Invalid value",
                "errorType": 3,
                "internalRecordId": null,
                "propertyName": "measurementUnitCode",
                "recordId": "1",
                "recordType": "product",
                "sourceId": "648DC0FF"
            }
            ]
        }

### Update a Product[PUT /V1/product/{productId}]
In the update web service, it is always necessary to send a unique identification of the changed record (ID) in the URL. The body of the update web service should contain only those elements that need to be changed (e.g. if you only need to change product's name, all the other optional elements should remain null).

Only product information may be updated using this web service, if you want to update product's barcode, use the corresponding web service.

If you need to add the collection "extensionData" which was not added during the insert, use the same elements which are used during the insert collection "extensionData".

If one of the updated values is filled in incorrectly and the validation procedure reports an error, the system will cancel the whole update - none of the changed values will be updated.

List of elements that may be updated:
+ productCode: `X415EA-EB037T` (string (150))
+ name: `Asus X415EA-EB037T Slate Grey` (string (255))
+ nameShort: `Asus X415EA` (string (150), condition) - The setting in the WMS also determines whether the value must be sent from an ERP system.
+ type: `0` (smallint)
+ subtype: `0` (tinyint)
+ measurementUnitCode: `KS` (string (1024)) - The basic unit of measurement can be updated only if there are no stock cards or documents for the given product, and the update is enabled in the WMS settings.
+ weightGross: `10.5` (numeric (15,4))
+ weightNett: `9.5` (numeric (15,4))
+ grossDimension.height: `2` (numeric (8,4))
+ grossDimension.width: `1.5` (numeric (8,4))
+ grossDimension.depth: `3.5` (numeric (8,4))
+ grossDimension.volume: `10.5` (numeric (15,4))
+ pictureUrl: `www.mystock.cz/product.png` (string (255))
+ pictureData: `/9j/4AAQSkZJRgABAQEASABIAAD/4gxYSUNDX1BST0ZJTEUAAQEAAAxITG` (varbinary)
+ expirationMandatory: `1` (tinyint)
+ expirationPeriod: `365` (integer, condition) - Mutually exclusive with element "expirationPeriodInMonth" - at any time only one of these two may be set. Permitted settings: 1) Both elements are undefined (null value), 2) Value of one element is set to 0 and the other element has any positive number.
+ expirationPeriodSupplier: `30` (integer)
+ expirationPeriodInMonth: `12` (integer, condition) - Mutually exclusive with element "expirationPeriod" (days) - at any time only one of these two may be set. Permitted settings: 1) Both elements are undefined (null value), 2) Value of one element is set to 0 and the other element has any positive number.
+ batches: `0` (tinyint)
+ variantMandatory: `0` (tinyint)
+ atestMandatory: `0` (tinyint)
+ serialNumbersRecords.inboundMandatory: `0` (tinyint)
+ serialNumbersRecords.outboundMandatory: `1` (tinyint)
+ manufacturerProductNumber: `BV373` (string (40))
+ storeSeparately: `0` (tinyint)
+ brandId: `BC9B92F8-71DE-449B-917C-4029E6CFA6C1` (string (1024))
+ brandId2: `90AD3F04-1489-4CC8-8FD4-3AEEE62379E7` (string (1024))
+ conversionMeasurementUnitCode: `M2` (string (1024))
+ groupId: `D959BB85-0F8F-44F5-AA2F-B028C8F69F38` (string (1024))
+ primarySupplierId: `1A3469D4-2111-4181-8CCB-969350D3433B` (string (1024))
+ description: `Description of the product` (string (32766))
+ productLabelPrint: `0` (tinyint)
+ productLabelPrintReceipt: `0` (tinyint)
+ commodityCode: `58475465` (string (14))
+ countryCode: `CZ` (string (3))
+ palletQuantity: `7` (numeric (15,4))
+ salesCategoryId: `KAT` (string (1024), condition) - Mandatory if the "salesCategoryValidityDate" element is filled in, otherwise should not be filled in.
+ salesCategoryValidityDate: `2025-04-14 00:00:00.000` (datetime, condition) - Mandatory if the "salesCategoryId" element is filled in, otherwise should not be filled in.
+ productPackageChange: `1` (tinyint)
+ texts.text: `Be careful, fragile!` (string(32766)) - If it is sent with an empty string, the text is deleted in the WMS. If multiple texts were sent via insert, the type (element typeOfText) for which we want to change or delete the text must also be specified during the update.

+ Parameters
    + productId: `A770B14D-9E31-427C-9B19-A3D79D3BE8F9` (string) - A unique identifier of the product you want to update.

+ Request (application/json)

        {
            "productCode": "X415EA-EB037T",
            "name": "Asus X415EA-EB037T Slate Grey",
            "nameShort": "Asus X415EA",
            "type": 0,
            "subtype": 0,
            "measurementUnitCode": "KS",
            "weightGross": 10.5,
            "weightNett": 9.5,
            "grossDimension": {
                "height": 2,
                "width": 1.5,
                "depth": 3.5,
                "volume": 10.5
            },
            "pictureUrl": "www.mystock.cz/product.png",
            "pictureData": "/9j/4AAQSkZJRgABAQEASABIAAD/4gxYSUNDX1BST0ZJTEUAAQEAAAxITG",
            "expirationMandatory": 1,
            "expirationPeriod": 365,
            "expirationPeriodSupplier": 30,
            "expirationPeriodInMonth": 0,
            "batches": 0,
            "variantMandatory": 0,
            "atestMandatory": 0,
            "serialNumbersRecords": {
                "inboundMandatory": 0,
                "outboundMandatory": 1
            },
            "manufacturerProductNumber": "BV373",
            "storeSeparately": 0,
            "brandId": "BC9B92F8-71DE-449B-917C-4029E6CFA6C1",
            "brandId2": "90AD3F04-1489-4CC8-8FD4-3AEEE62379E7",
            "conversionMeasurementUnitCode": "M2",
            "groupId": "D959BB85-0F8F-44F5-AA2F-B028C8F69F38",
            "primarySupplierId": "AFF2D206-09B5-4B09-A391-876B20502485",
            "productLabelPrint": 0,
            "productLabelPrintReceipt": 0,
            "description": "Description of the product",
            "commodityCode": "58475465",
            "countryCode": "CZ",
            "palletQuantity": 7,
            "salesCategoryId":"KAT",
            "salesCategoryValidityDate":"2025-04-14 00:00:00.000",
            "productPackageChange": 1,
            "texts": [
                {
                    "text": "Be careful, fragile!",
                    "typeOfText": 20
                },
                {
                    "text": "",
                    "typeOfText": 50
                }
            ],
            "extensionData": {
                "entities": [
                    {
                        "type": "Assortment",
                        "relations": [
                            {
                                "type": "AssortmentCategoryRel",
                                "extIsId": "1204231550",
                                "properties": [
                                    {
                                        "key": "CategoryType",
                                        "value": "20"
                                    },
                                    {
                                        "type": "ID",
                                        "key": "CategoryCode",
                                        "value": "0EE99EAF-66A2-4789-8DC4-8956F2234B36"
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        }

+ Response 200 (application/json)

        {
            "errors": [],
            "data": "OK",
            "extensionData": {
                "ids": [
                    {
                        "id": "7E42C9EB-9505-43B5-8EF4-2A58DDCBBD59",
                        "recordId": "0",
                        "sourceId": "1204231550",
                        "type": "product/relations/Assortment/AssortmentCategoryRel",
                        "parentSourceId": ""
                    }
                ]
            }
        }

+ Response 400 (application/json)

        {
        "data": null,
        "errors": [
            {
                "errorText": "Invalid value",
                "errorType": 3,
                "internalRecordId": null,
                "propertyName": "measurementUnitCode",
                "recordId": "1",
                "recordType": "product",
                "sourceId": "648DC0FF"
            }
            ]
        }

## Product barcode [/V1/productBarcode/]

Base URI template that is used at the end of the URL when the web service is called: <b>/V1/productBarcode/</b> (example: https://demo.mystock.cz/V1/productBarcode/).

The web service has following elements:
+ productId: `A770B14D-9E31-427C-9B19-A3D79D3BE8F9` (string (1024), required) - Unique identifier of the product - the ID is generated during the creation of the product via API.
+ barcode: `EAN3` (string (30), required) - Barcode of the product. Any string of values can be entered, usually EAN-13 is used. There is no validation of the code imported into the WMS.
+ extIsId: `648DC0FF` (string(1024), condition) - Unique identifier of the record in the ERP that must be used when it is not possible to ensure that the value in the element "barcode" is unique. If the identification in the element "barcode" is unique, "extIsId" should not be filled in.
+ default: `0` (tinyint) - Default barcode for the product (only one barcode can be selected as a default barcode). Supported values: 0 - No, 1 - Yes.
+ measurementUnitCode: `KS` (string (1024)) - The element is used to distinguish barcodes for different units of measurement (the unit of measurement must exist in the WMS, otherwise the record will not be imported). If there is only one (basic) unit of measurement registered in the WMS for the given product, it is not necessary to fill in the element (it can be NULL).
+ active: `1` (tinyint, required) - State of the barcode. Supported values: 0 - Inactive, 1 - Active.

### Create a Product barcode [POST /V1/productBarcode/]

Product's barcode can be created either alongside the product by using the "Create a Product" web service or after the product is already created by using the "Create a Product barcode" web service.

+ Request (application/json)

        {
        "productId": "A770B14D-9E31-427C-9B19-A3D79D3BE8F9",
        "barcode": "EAN3",
        "extIsId": "648DC0FF",
        "default": 0,
        "measurementUnitCode": "KS",
        "active": 1
        }

+ Response 201 (application/json)

        {
        "data": 
            {
            "ids": [
                {
                    "id": "17D88A44-C46A-4654-BD06-9900DC0A812A",
                    "recordId": "1",
                    "sourceId": "648DC0FF",
                    "type": "productBarcode"
                }
            ]
            },
        "errors": []
        }
        
+ Response 400 (application/json)

        {
            "errors": [
                {
                    "errorType": 4,
                    "errorText": "The specified unit of measurement is not registered for the given product",
                    "sourceId": "648DC0FF",
                    "recordId": "1",
                    "recordType": "productBarcode",
                    "propertyName": "measurementUnitCode"
                }
            ],
            "data": null
        }

### Update a Product barcode [PUT /V1/productBarcode/{productBarcodeId}]
In the update web service, it is always necessary to send a unique identification of the changed record (ID) in the URL. The body of the update web service must always contain all the mandatory elements (see below), other elements should be filled in only when there is need to change the information they contain (e.g. if you only need to change barcode's activity, all the other optional elements should remain null).

If one of the updated values is filled in incorrectly and the validation procedure reports an error, the system will cancel the whole update - none of the changed values will be updated.

List of elements that may be updated:
+ productId: `A770B14D-9E31-427C-9B19-A3D79D3BE8F9` (string (1024), required) - The ID of the product to which the barcode belongs. It is not possible to change the product ID within the update - if you want to assign the given barcode to another product, you must deactivate the barcode for the original product and create a new barcode for the new product.
+ default: `0` (tinyint)
+ active: `1` (tinyint)

+ Parameters
    + productBarcodeId: `17D88A44-C46A-4654-BD06-9900DC0A812A` (string) - A unique identifier of the product’s barcode you want to update.

+ Request (application/json)

        {
        "productId": "A770B14D-9E31-427C-9B19-A3D79D3BE8F9",
        "default": 0,
        "active": 1
        }

+ Response 200 (application/json)

        {
        "data": "OK",
        "errors": []
        }
        
+ Response 400 (application/json)

        {
        "data": null,
        "errors": [
            {
                "errorText": "Invalid value",
                "errorType": 3,
                "internalRecordId": null,
                "propertyName": "productId",
                "recordId": "1",
                "recordType": "productBarcode",
                "sourceId": "A770B14D-9E31-427C-9B19-A3D79D3BE8F9_KS_EAN3"
            }
            ]
        }

## Product's unit of measurement [/V1/productMeasurementUnit/]

Base URI template that is used at the end of the URL when the web service is called: <b>/V1/productMeasurementUnit/</b> (example: https://demo.mystock.cz/V1/productMeasurementUnit/).

The web service has following elements:
+ productId: `67929C3B-7C08-4B23-A8E1-79BF761C2043` (string (1024), required) - Unique identifier of the product - the ID is generated during the creation of the product via API.
+ measurementUnitCode: `BAL` (string (1024), required) - Derived unit of measurement - this unit of measurement must be registered in the unit of measurements' codebook in the WMS. Derived unit of measurement cannot be the same as the product's basic unit of measurement.
+ extIsId: `487DC0EE` (string (1024), condition) - Unique identifier of the record in the ERP that must be used when it is not possible to ensure that the value in the element "measurementUnitCode" is unique. If the identification in the element "measurementUnitCode" is unique, "extIsId" should not be filled in.
+ quantity: `1` (numeric (15,4), required) - Quantity of the derived unit of measurement - by default, quantity 1 should be filled in (e.g.: 1 package contains 20 pieces).
+ basicQuantity: `20` (numeric (15,4), required) - Quantity of the basic unit of measurement - the quantity stated in the basic unit of measurement, this quantity of the product is contained in the derived unit of measurement (e.g.: 20 pieces are packed in 1 package).
+ weightGross: `1,62` (numeric (18,7)) - Gross weight of the product (kg).
+ weightNett: `1,47` (numeric (18,7)) - Nett weight of the product (kg).
+ grossDimension.height: `0,12` (numeric (8,4)) - Gross height of the product (m).
+ grossDimension.width: `0,51` (numeric (8,4)) - Gross width of the product (m).
+ grossDimension.depth: `0,58` (numeric (8,4)) - Gross depth of the product (m).
+ grossDimension.volume: `0,0354` (numeric (15,4)) - Gross volume of the product (m3).
+ fullPallet: `0` (tinyint) - Pallet Unit of Measurement (Pallet UoM). Determine the UoM of the product (and therefore the quantity in the UoM record) that is equal to one EUR pallet. The quantity is determined by the producer (the producer of the product optimises the size of the packaging to fit as much of the product as possible on one pallet). The pallet UoM is used in the WMS both in receipt (automatic determination of the so-called full pallet and its height) and in shipping (if the shipped quantity is equal to the pallet UoM (or a whole multiple), it is picked in a separate shipping batch directly from the reserve location, according to the availability on the stock cards and the WMS settings). Only one UoM of the product can be defined as pallet UoM in the WMS. If the ordered quantity corresponds with the "full pallet" unit of measurement (and some full pallet is in the warehouse), the WMS will dispatch full pallet. Supported values: 0 - No, 1 - Yes
+ handlingUnit: `1` (tinyint) - Handling Unit of Measurement (Handling UoM). Determine the UoM of the product (and therefore the quantity in the UoM record) that is primary (optimal) for handling the product in the warehouse (transfers, optimization tasks - adding picking locations, etc.). It is used for rounding off WMS optimization tasks. In ERP it can be designated as stock UoM. Only one UoM of the product can be defined as handling UoM in WMS. Supported values: 0 - No, 1 - Yes 

### Create a Product‘s unit of measurement [POST /V1/productMeasurementUnit/]

Product's unit of measurement can be created either alongside the product by using the "Create a Product" web service or after the product is already created by using the "Create a Product‘s unit of measurement" web service.

+ Request (application/json)

        {
        "productId": "67929C3B-7C08-4B23-A8E1-79BF761C2043",
        "measurementUnitCode": "BAL",
        "extIsId": "487DC0EE",
        "quantity": 1,
        "basicQuantity": 20,
        "weightGross": 1.62,
        "weightNett": 1.47,
        "fullPallet": 0,
        "handlingUnit": 1,
        "grossDimension":
            {
            "width": 0.51,
            "height": 0.12,
            "depth": 0.58,
            "volume": 0.0354        
            }
        }

+ Response 201 (application/json)

        {
            "errors": [],
            "data": {
                "ids": [
                    {
                        "id": "4918C06B-3EC6-428C-9234-0E77F65F32B6",
                        "recordId": "1",
                        "sourceId": "487DC0EE",
                        "type": "productMeasurementUnit"
                    }
                ]
            }
        }
        
+ Response 400 (application/json)

        {
            "errors": [
                {
                    "errorType": 2,
                    "errorText": "The entered value is different than the allowed values (0,1)",
                    "sourceId": "487DC0EE",
                    "recordId": "1",
                    "recordType": "productMeasurementUnit",
                    "propertyName": "handlingUnit"
                }
            ],
            "data": null
        }

### Update a Product's unit of measurement [PUT /V1/productMeasurementUnit/{productMeasurementUnitId}]

In the update web service, it is always necessary to send a unique identification of the changed record (ID) in the URL. The body of the update web service must always contain all the mandatory elements (see below), other elements should be filled in only when there is need to change the information they contain (e.g. if you only need to change measurement unit's dimensions, all the other optional elements should remain null).

If one of the updated values is filled in incorrectly and the validation procedure reports an error, the system will cancel the whole update - none of the changed values will be updated.

List of elements that may be updated:
+ productId: `CC7008EF-8727-4BF4-AE88-C4968D87C981` (string (1024), required) - Unique identifier of the product that is generated during the creation of the product via API. The product's ID must be sent with every update of the product's unit of measurement.
+ weightGross: `2.5` (numeric (18,7))
+ weightNett: `2.4` (numeric (18,7))
+ fullPallet: `0` (tinyint)
+ handlingUnit: `0` (tinyint)
+ grossDimension.width: `66.5` (numeric (8,4))
+ grossDimension.height: `77.5` (numeric (8,4))
+ grossDimension.depth: `88.5` (numeric (8,4))
+ grossDimension.volume: `1000.5` (numeric (15,4))

+ Parameters
    + productMeasurementUnitId: `54D88A44-C46R-4744-BG76-9911DC0A212A` (string) - A unique identifier of the product's unit of measurement you want to update.

+ Request (application/json)

        {
            "productId": "CC7008EF-8727-4BF4-AE88-C4968D87C981",
            "weightGross": 2.5,
            "weightNett": 2.4,
            "fullPallet": 0,
            "handlingUnit": 0,
            "grossDimension": {
                "width": 66.5,
                "height": 77.5,
                "depth": 88.5,
                "volume": 1000.5
            }
        }

+ Response 200 (application/json)

        {
            "errors": [],
            "data": "OK"
        }

+ Response 400 (application/json)

        {
            "data": null,
            "errors": [
                {
                    "errorText": "Invalid value",
                    "errorType": 3,
                    "internalRecordId": null,
                    "propertyName": "productId",
                    "recordId": "1",
                    "recordType": "productMeasurementUnit",
                    "sourceId": "F468FA85-0F73-4864-9473-451D98689FCE"
                }
            ]
        }

## Product handling equipment [/V1/productHandlingEquipment/]

Base URI template that is used at the end of the URL when the web service is called: <b>/V1/productHandlingEquipment/</b> (example: https://demo.mystock.cz/V1/productHandlingEquipment/).

The web service has following elements:
+ extIsId: `648DC0FF` (string(1024), condition) - Unique identifier of the record in the ERP.
+ productId: `A770B14D-9E31-427C-9B19-A3D79D3BE8F9` (string (1024), required) - Unique identifier of the product - the ID is generated during the creation of the product via API.
+ handlingEquipmentId: `VNA` (string (1024), required) – The element is used to restrict the handling equipment to a specific quantity of units during dispatch. If handling equipment ID is specified, it must exist in the WMS, otherwise the record will not be imported.
+ minQuantity: `5` (numeric (15,4), required) – Minimum quantity for handling. This element is used to define constraints on the quantity of items to be picked by a specific type of handling equipment. The task allocation algorithm respects these limits: if the quantity of items in a task falls outside the defined range (Min–Max), the task will not be assigned to the respective equipment type.
+ maxQuantity: `25` (numeric (15,4), required) - Maximum quantity for handling. Maximum value is 999 999. This element is used to define constraints on the quantity of items to be picked by a specific type of handling equipment. The task allocation algorithm respects these limits: if the quantity of items in a task falls outside the defined range (Min–Max), the task will not be assigned to the respective equipment type.
+ active: `1` (tinyint, required) - State of the handling equipment. Supported values: 0 - Inactive, 1 - Active.

### Create a Product handling equipment [POST /V1/productHandlingEquipment/]

Product's handling equipment can be created either alongside the product by using the "Create a Product" web service or after the product is already created by using the "Create a Product handling equipment" web service.

+ Request (application/json)

        {
            "extIsId": "648DC0FF",
            "productId": "A770B14D-9E31-427C-9B19-A3D79D3BE8F9",
            "handlingEquipmentId": "VNA",
            "minQuantity": 5,
            "maxQuantity": 25,
            "active": 1
        }

+ Response 201 (application/json)

        {
        "data": 
            {
            "ids": [
                {
                    "id": " 60279F50-6F48-465B-B15B-6C1D99FD3D77",
                    "recordId": "1",
                    "sourceId": "648DC0FF",
                    "type": "productHandlingEquipment"
                }
            ]
            },
        "errors": []
        }
        
+ Response 400 (application/json)

        {
            "errors": [
                {
                    "errorType": 3,
                    "errorText": "Invalid entry",
                    "sourceId": "648DC0FF",
                    "recordId": "1",
                    "recordType": "productHandlingEquipment",
                    "propertyName": "handlingEquipmentId"
                }
            ],
            "data": null
        }

### Update a Product handling equipment [PUT /V1/productHandlingEquipment/{productHandlingEquipmentId}]
In the update web service, it is always necessary to send a unique identification of the changed record (ID) in the URL. The body of the update web service must always contain all the mandatory elements (see below), other elements should be filled in only when there is need to change the information they contain (e.g. if you only need to change handling's equipment activity, all the other optional elements should remain null).

If one of the updated values is filled in incorrectly and the validation procedure reports an error, the system will cancel the whole update - none of the changed values will be updated.

List of elements that may be updated:
+ productId: `A770B14D-9E31-427C-9B19-A3D79D3BE8F9` (string (1024), required) - The ID of the product to which the handling equipment belongs. It is not possible to change the product ID within the update - if you want to assign the given handling equipment to another product, you must deactivate the handling equipment for the original product and create a new handling equipment for the new product.
+ minQuantity: `5` (numeric (15,4), condition) - Permitted settings: 1) Both quantity elements are definied. 2) Both quantity elements are undefined (null value). Otherwise should not be filled in.
+ maxQuantity: `25` (numeric (15,4), condition) - Permitted settings: 1) Both quantity elements are definied. 2) Both quantity elements are undefined (null value). Otherwise should not be filled in.
+ active: `1` (tinyint)

+ Parameters
    + productHandlingEquipmentId: `17D88A44-C46A-4654-BD06-9900DC0A812A` (string) - A unique identifier of the product’s handling equipment you want to update.

+ Request (application/json)

        {
            "productId": "A770B14D-9E31-427C-9B19-A3D79D3BE8F9",
            "minQuantity": 5,
            "maxQuantity": 25,
            "active": 1
        }

+ Response 200 (application/json)

        {
        "data": "OK",
        "errors": []
        }
        
+ Response 400 (application/json)

        {
            "errors": [
                {
                    "errorType": 3,
                    "errorText": "Invalid entry",
                    "recordId": "1",
                    "recordType": "productHandlingEquipment",
                    "propertyName": "productId"
                }
            ],
            "data": null
        }

## Product group [/V1/productGroup/]
Base URI template that is used at the end of the URL when the web service is called: <b>/V1/productGroup/</b> (example: https://demo.mystock.cz/V1/productGroup/).

The web service has following elements:
+ code: `G001` (string (20), required) - Product group code from the ERP - a unique identifier that cannot be changed over time, it is used to identify product group in the WMS. The code is displayed to warehouse operators on mobile devices and is printed in reports.
+ extIsId: `4E9F5A10` (string(1024), condition) - Unique identifier of the record in the ERP that must be used when it is not possible to ensure that the value in the element "code" is unique. If the identification in the element "code" is unique, "extIsId" should not be filled in.
+ name: `U0001 Group` (string (40), required) - Name of the group
+ description: `Product group description` (string (255)) - Description of the group
+ parentGroupId: `D3BA69F1-173E-4179-9153-FF402F1B3EF9` (string (1024)) - ID of the parent group
+ carrierProductName: `ELECTRONICS` (string (60)) - Name of product group for delivery purposes. This information is exported via WMS into carrier's system when expeding products of this group.

### Create a Product group [POST /V1/productGroup/]
Web service for creating product groups. Product groups can have a tree structure. The web service inserts one product group at a time. A product must always be placed only in one group. If groupId is not specified in the Product web service (see Create a Product), the product is automatically assigned into the default product group.

+ Request (application/json)

        {
        "extIsId": "4E9F5A10",
        "code": "G001",
        "name": "U0001 Group",
        "description": "Product group description",
        "parentGroupId": "D3BA69F1-173E-4179-9153-FF402F1B3EF9",
        "carrierProductName": "ELECTRONICS"
        }

+ Response 201 (application/json)

        {
            "data": {
                "ids": [
                    {
                        "id": "503A296D-21E2-4366-8D4F-2D76EEFD8EF8",
                        "recordId": "0",
                        "sourceId": "4E9F5A10",
                        "type": "productGroup"
                    }
                ]
            },
            "errors": []
        }

+ Response 400 (application/json)

        {
            "data": null,
            "errors": [
                {
                    "errorText": "The entered value is NULL",
                    "errorType": 1,
                    "internalRecordId": null,
                    "propertyName": "code",
                    "recordId": "1",
                    "recordType": "productGroup",
                    "sourceId": "4E9F5A10"
                }
            ]
        }

### Update a Product group [PUT /V1/productGroup/{productGroupId}]
In the update web service, it is always necessary to send a unique identification of the changed record (ID) in the URL. The body of the update web service must always contain all the mandatory elements (see below), other elements should be filled in only when there is need to change the information they contain (e.g. if you only need to change group's name, all the other optional elements should remain null).

If one of the updated values is filled in incorrectly and the validation procedure reports an error, the system will cancel the whole update - none of the changed values will be updated.

List of elements that may be updated:
+ code: `G001` (string (20)) 
+ name: `U0001 Group` (string (40)) 
+ description: `Product group description` (string (255))
+ parentGroupId: `D3BA69F1-173E-4179-9153-FF402F1B3EF9` (string (1024))
+ carrierProductName: `ELECTRONICS` (string (60))

+ Parameters
    + productGroupId: `CBDD9EB9-D28D-4871-94AE-BE26DBC536DD` (string) - A unique identifier of the product’s group you want to update.

+ Request (application/json)

        {
            "code": "G001",
            "name": "U0001 Group",
            "description": "Product group description",
            "parentGroupId": "D3BA69F1-173E-4179-9153-FF402F1B3EF9",
            "carrierProductName": "ELECTRONICS"
        }

+ Response 200 (application/json)

        {
        "data": "OK",
        "errors": []
        }
        
+ Response 400 (application/json)

        {
            "errors": [
                {
                    "errorType": 3,
                    "errorText": "Invalid entry",
                    "sourceId": "<<NULL>>",
                    "recordId": "1",
                    "recordType": "productGroup",
                    "propertyName": "parentGroupId"
                }
            ],
            "data": null
        }
 
## Item list [/V1/itemList/]

Base URI template that is used at the end of the URL when the web service is called: <b>/V1/itemList/</b> (example: https://demo.mystock.cz/V1/itemList/).

The web service has following elements:
+ code: `Blue-color` (string (20), condition) - Item list code from the ERP - a unique identifier that cannot be changed over time, it is used to identify item list in the WMS.
+ extIsId: `648DC0FF` (string (1024), condition) - Unique identifier of the record in the ERP that must be used when it is not possible to ensure that the value in the element "code" is unique. If the identification in the element "code" is unique, "extIsId" should not be filled in.
+ type: `Color` (string (150), required) - Supported types: Color, AssortmentBrand, AssortmentSeason, AssortmentCategory, LotVariant
+ name: `Blue` (string (32766), required) - Name of the item list.
+ extensionData: (string (32766)) - External data, see the header "Extension data".

### Create an Item list - Product color [POST /V1/itemList/]
Item list of colors.

The web service has following elements:
The basic elements are the same as for the Item list service, only the extensionData content is different.
+ extensionData.entities.type: `Color` (constant, required)
+ extensionData.entities.properties.key: `Description` (constant, required)
+ extensionData.entities.properties.value: `Description of the blue color` (string (255)) - Description of the color.


+ Request (application/json)

        {
           "extIsId": "648DC0FF",
           "type": "Color",
           "code": "Blue-color ",
           "name": "Blue",
           "extensionData": {
              "entities": [
                 {
                    "type": "Color",
                    "properties": [
                       {
                          "key": "Description",
                          "value": "Description of the blue color."
                       }
                    ]
                 }
              ]
           }
        }

+ Response 201 (application/json)

        {
            "data": {
                "ids": [
                    {
                        "id": "9DE5DE1C-CF83-4D9B-A9D8-46056F81AA41",
                        "recordId": "1",
                        "sourceId": "648DC0FF ",
                        "type": "itemList"
                    }
                ]
            },
            "errors": []
        }

+ Response 400 (application/json)

        {
            "data": null,
            "errors": [
                {
                    "errorText": "The entered value is NULL",
                    "errorType": 1,
                    "internalRecordId": null,
                    "propertyName": "name",
                    "recordId": "1",
                    "recordType": "itemList",
                    "sourceId": "648DC0FF "
                }
            ]
        }

### Create an Item list - Product season [POST /V1/itemList/]
Item list of assortment seasons. In the WMS, product seasons are recorded in a relational table with a relation to the product.

The web service has following elements:
The basic elements are the same as for the "Item list" web service, only the extensionData content is different.
+ extensionData.entities.type: `AssortmentSeason` (constant, required)
+ extensionData.entities.properties.key: `Note` (constant, required)
+ extensionData.entities.properties.value: `2022 Winter` (string (255)) - Note regarding the season.

+ Request (application/json)

        {
          "extIsId": "2022-winter",
          "type": "AssortmentSeason",
          "code": "2022-winter",
          "name": "2022 Winter",
          "extensionData": {
            "entities": [
              {
                "type": "AssortmentSeason",
                "properties": [
                  {
                    "key": "Note",
                    "value": "2022 Winter."
                  }
                ]
              }
            ]
          }
        }

+ Response 201 (application/json)

        {
            "data": {
                "ids": [
[...]
